# Arithmetic
** opertator to raise to a power
5 ** 3 = 125

In [10]:
5 ** 3

125

# Line continuation
Use \ to send a part of the code to the next line

In [9]:
5 + 3 * 2 + \
8

19

# Extracting characters from a string

In [11]:
"Testing"[4]

'i'

# Rounding off

In [8]:
round(5.5)

6

# del operator removes an element from a list

In [16]:
Cast=['Anakin','Padme', 'Luke','Fatass Jabba']
Cast

['Anakin', 'Padme', 'Luke', 'Fatass Jabba']

In [17]:
del Cast[3]
Cast

['Anakin', 'Padme', 'Luke']

# Methods to manipulate lists

In [19]:
Cast.append('Kenobi')

In [20]:
Cast

['Anakin', 'Padme', 'Luke', 'Kenobi']

In [22]:
Cast.extend(['Qui Gon', 'Jar Jar', 'Ahsoka', 'R2D2', 'Threepio'])
Cast

['Anakin',
 'Padme',
 'Luke',
 'Kenobi',
 'Qui Gon',
 'Jar Jar',
 'Ahsoka',
 'R2D2',
 'Threepio',
 'Qui Gon',
 'Jar Jar',
 'Ahsoka',
 'R2D2',
 'Threepio']

# Slicing a list

In [23]:
Cast[2:5]

['Luke', 'Kenobi', 'Qui Gon']

In [24]:
Cast[:6]

['Anakin', 'Padme', 'Luke', 'Kenobi', 'Qui Gon', 'Jar Jar']

In [25]:
Cast[3:]

['Kenobi',
 'Qui Gon',
 'Jar Jar',
 'Ahsoka',
 'R2D2',
 'Threepio',
 'Qui Gon',
 'Jar Jar',
 'Ahsoka',
 'R2D2',
 'Threepio']

In [28]:
Cast[-4:]

['Jar Jar', 'Ahsoka', 'R2D2', 'Threepio']

In [29]:
Cast.index("Qui Gon")

4

In [30]:
ShitLords = ["Sidius","Vader","Tyrannus", "Maul"]

In [31]:
StarWars = [Cast, ShitLords]

In [32]:
StarWars

[['Anakin',
  'Padme',
  'Luke',
  'Kenobi',
  'Qui Gon',
  'Jar Jar',
  'Ahsoka',
  'R2D2',
  'Threepio',
  'Qui Gon',
  'Jar Jar',
  'Ahsoka',
  'R2D2',
  'Threepio'],
 ['Sidius', 'Vader', 'Tyrannus', 'Maul']]

# Tuples

In [33]:
x = (12,23,45)
x

(12, 23, 45)

In [34]:
a, b, c = 4, 5, 6

In [35]:
b

5

In [37]:
y = (88, 77, 33)
y

(88, 77, 33)

In [38]:
NewList = [x,y,c]

In [39]:
NewList

[(12, 23, 45), (88, 77, 33), 6]

In [45]:
(Verstappen, Norris) = "1,4".split(',')
print ('Max = ' + (Verstappen))
print ('Lando = ' + (Norris))

Max = 1
Lando = 4

### Returning a tuple from a function

In [47]:
def square_calculation(x):
    A = x** 2
    P = 4*x
    print("Area & Perimeter")
    return (A, P)
square_calculation(7)

Area & Perimeter

(49, 28)

# For loop iteration

In [51]:
numbers = [1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

for x in numbers:
    print (x, end =" || ")

1 || 2 || 3 || 4 || 5 || 6 || 8 || 9 || 10 || 11 || 12 || 13 || 14 || 15 || 16 || 17 || 18 || 19 || 20 ||

# While Loops

In [52]:
x =0
while x <= 20:
    print (x, end =" || ")
    x = x + 2

0 || 2 || 4 || 6 || 8 || 10 || 12 || 14 || 16 || 18 || 20 ||

# range() function
range(start, stop, step)

#### start (Optional): 
An integer specifying the starting point of the sequence. If omitted, it defaults to 0.
#### stop (Required): 
An integer specifying the upper limit of the sequence. The sequence will stop before this number.
#### step (Optional): 
An integer specifying the increment between numbers in the sequence. If omitted, it defaults to 1. A negative step value can be used to count backward.

In [69]:
for x in range(1,10):
    print (x, end = " ")

1 2 3 4 5 6 7 8 9

In [62]:
list(range(0,48, 4))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [66]:
for x in range(0,128, 4):
    print (x, end = " ")

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100 104 108 112 116 120 124

In [73]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]